body {
    background-color:  rgb(255, 253, 240);
    color: rgb(255, 209, 59);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    word-spacing: 10px;
    cursor: pointer;
}
.texta {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 9px;
    margin: 20px;
}
.left {
    flex: 1;
    background-color: rgb(255, 238, 160);
    height: auto;
}
.center {
    flex: 2;
    background-color: rgb(248, 255, 173);
    height: auto;
}
.right {
    flex: 1;
    background-color: rgb(255, 253, 240);
    height: auto;
}
.main-c {
    display: flex;
    height: auto;
}
.main-c section {
    padding: 20px;
    border: 1px solid gray;
    min-width: 0;
}
.text-center {
    text-align: left;
    font: 10px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
.photo-text {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: 10px;
    color: black;
    text-align: center;
}